[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/juice-contracts-v2"]
	path = lib/juice-contracts-v2
	url = https://github.com/jbx-protocol/juice-contracts-v2
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
